@import "tailwindcss";

:root {
  --background: #f8f9fa;
  --dark: #171717;
  --red: #ff291b;
}

@theme {
  --color-background: var(--background);
  --color-primary: var(--dark);
  --color-secondary: var(--red);
}

@layer base {
  .title {
    @apply text-2xl font-bold;
  }
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
}
}
